<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rick Rolls</title>
</head>
<body>
    <center>
        <h1>You Have Rick Rolled {{ count }} Times.</h1>
    </center>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');
        *{
            color:white;
            background-color: black;
            font-family: 'Patrick Hand', cursive;
        }
    </style>
</body>
</html>