<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>You are being redirected.</title>
</head>
<body>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');
        *{
            color:white;
            background-color: black;
            font-family: 'Patrick Hand', cursive;
        }
    </style>
    You are being redirected.
    If you didn't get redirected <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">click here</a>
    <script src="/javascript/script/js/script"></script>
    
</body>
</html>